break-cases=toplevel
break-infix=fit-or-vertical
break-string-literals=wrap
doc-comments=before
extension-sugar=preserve
field-space=loose
if-then-else=keyword-first
indicate-nested-or-patterns=unsafe-no
infix-precedence=parens
leading-nested-match-parens=false
let-and=sparse
let-open=preserve
margin=90
ocp-indent-compat=true
parens-tuple=multi-line-only
parens-tuple-patterns=multi-line-only
sequence-style=terminator
type-decl=sparse
wrap-fun-args=false
module-item-spacing=sparse
break-separators=after-and-docked
break-infix-before-func=false
